:root {
    --primary-color: #0664c9;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #555;
    --darker-color: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--darker-color);
}

text {
    color: var(--light-color);
}

.navbar {
  width: 100%;
  background-color: var(--dark-color);
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.split {
  float: right;
  background-color: var(--primary-color);
  color: white;
}

.active {
  background-color: var(--primary-color);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.alert {
    position: fixed;
    bottom: -100px;
    right: 20px;
    padding: 20px;
    background-color: var(--danger-color);
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
}

.alert.show {
    bottom: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
